.custom_active{
    padding-left: 42px;
  padding-right: 42px;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
  height: 37px;
  border-radius: 5px;
  border: none;
  color: rebeccapurple;
  background-color: white;
  }
  
  .header{
    background-color: rgb(212, 188, 81);
  }
  .quote{
    background-color: rgb(212, 170, 92);
  }

  .comment_user{
    border-radius:50%;
    height: 50px;
    width:  50px;
    background-color: brown;
    border: brown solid 2px;
  }
